This is a simple <a href="http://code.google.com/p/webfinger/" title="webfinger - Project Hosting on Google Code">webfinger</a> server written using <a href="http://www.sinatrarb.com/" title="Sinatra">sinatra</a>.

You can query:

<pre>
<%= WEBFINGER_SERVER %>/webfinger/email@example.com
</pre>

for webfinger related information.

To get your own server <a href="http://github.com/darron/webfinger-sinatra" title="darron's webfinger-sinatra at master - GitHub">grab the source from here</a>.